.shop-address-address {
	width: 70%;
	display: inline-block;
	padding-right: 10px;

	.djng-form-control-feedback {
		padding-right: 10px;
	}
}

.shop-address-house_number {
	width: 30%;
	display: inline-block;
	padding-left: 10px;
}

.shop-address-city {
	width: 65%;
	display: inline-block;
	padding-left: 10px;
}

.shop-address-postal_code {
	width: 35%;
	display: inline-block;
	padding-right: 10px;

	.djng-form-control-feedback {
		padding-right: 10px;
	}
}

.shop-address-city {
	width: 65%;
	display: inline-block;
	padding-left: 10px;
}
